.page-apartment-min{
    margin-top: 56px;
}
.go-back-apart{
    color: #1A1A1A;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding-left: 26px;
    position: relative;
}
.go-back-apart:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #1A1A1A;
    border-left: 2px solid #1A1A1A;
    transform: rotate(-45deg);
}

.page-apartment-title h1{
    margin-top: 18px;
}

.bread-caps{
    margin-top: 10px;
    gap: 4px;
}
.bread-caps li{
    color: #754ABC;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.download-layout-href{
    margin-top: 62px;
}

.download-layout{
    max-width: 300px;
    width: 100%;
    gap: 10px;
    border-radius: 32px;
    padding: 13px 26px;
    border: 1px solid #754ABC;
    color: #1A1A1A;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.icon-pdf{
    content: url("../img/icons/pdf.svg");
}

.page-apartment-cnt{
    margin-top: 32px;
    gap: 24px;
}

.page-apartment-plan{
    max-width: 309px;
    width: 100%;
    gap: 24px;
}
.page-apartment-plan svg{
    width: 100%;
}
.page-apartment-floor{
    max-width: 500px;
    width: 100%;
}

.page-apartment-info{
    max-width: 531px;
    width: 100%;
    gap: 32px;
    border-radius: 36px;
    padding: 32px;
    background: #F6F6F6;

}
.page-apartment-info .comme-line-info p {
    color: #1A1A1A;
    font-weight: 500;
}
.page-apartment-info .commercial-item{
    margin-top: 0;
}
.page-apartment-info .commercial-line {
    border-bottom: 1px solid #2F2E2E66;
    gap: 24px;
}
.page-apartment-info .commercial-line:last-child {
    border-bottom: 1px solid #2F2E2E66;
}
.page-apartment-info .comme-line-info {
    width: 100%;
    max-width: 217px;
}
.page-apartment-price strong{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: left;
    color: #754ABC;
}

.page-apartment-price{
    gap: 8px;
}
.page-apartment-price del {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    text-decoration: line-through;
    color: #754ABC;
    opacity: 0.5;
}

.apartment-mortgage{
    gap: 24px;
}
.apartment-mortgage img{
    width: 60px;
}

.page-apartment-info .filter-btn{
    margin-top: 0;
}
.apartment-mortgage-href{
    color: #686868;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    gap: 12px;
}
.apartment-mortgage-href b{
    font-weight: 700;
}
.arrow-right{
    content: url("../img/icons/arrow-right.svg");
}



@media (max-width: 1399px){
    .page-apartment-info {
        max-width: 420px;
        padding: 24px;
    }
    .page-apartment-price strong {
        font-size: 38px;
    }
    .page-apartment-price del {
        font-size: 26px;
    }
    .page-apartment-info {
        gap: 16px;
    }
}

@media (max-width: 1199px){
    .page-apartment-plan{
        display: none;
    }
    .download-layout-href {
        margin-top: 40px;
    }


}
@media (max-width: 1020px){
    .page-apartment-price strong {
        font-size: 32px;
    }
    .page-apartment-price del {
        font-size: 20px;
    }
    .page-apartment-info {
        border-radius: 16px;
    }
    .apartment-mortgage-href {
        font-size: 15px;
    }
    .download-layout {
        max-width: 270px;
        padding: 11px 24px;
        font-size: 16px;
    }
    .page-apartment-cnt {
        flex-direction: column;
        align-items: center;
    }
    .page-apartment-info {
        max-width: 530px;
    }

    .go-back-apart {
        font-size: 14px;
        padding-left: 22px;
    }
    .go-back-apart:before {
        top: 3px;
        left: 6px;
    }
    .bread-caps li {
        font-size: 14px;
    }
    .download-layout-href{
        display: none;
    }
    .page-apartment-cnt {
        margin-top: 48px;
    }
}

@media (max-width: 575px){
    .apartment-mortgage {
        gap: 20px;
    }
    .modal .comme-line-info {
        width: 152px;
    }
}