.business-light-min{
    margin-top: 98px;
    margin-bottom: 100px;
}
.business-light-flex{
    gap: 24px;
}

.business-light-info{
    max-width: 760px;
    width: 100%;
}
.business-light-info h3{
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 24px;
    max-width: 490px;
    width: 100%;
}
.business-light-info p{
    margin-top: 64px;
    max-width: 670px;
    width: 100%;
}

.quarter-located-flex{
    margin-top: 148px;
    gap: 24px;
}
.quarter-located-photo{
    max-width: 808px;
    width: 100%;
}
.quarter-located-photo img{
    border-radius: 36px;
    width: 100%;
}
.quarter-located{
    max-width: 765px;
    width: 100%;
    padding-right: 43px;
}

.located-pic{
    max-width: 393px;
    width: 100%;
    margin-left: auto;
}
.located-pic img{
    border-radius: 36px;
}

.two-stylistic h2 {
    max-width: 844px;
    width: 100%;
}
.two-stylistic .apartments-text {
    margin-top: 0;
    max-width: 808px;
    width: 100%;
}
.two-stylistic .apartments-text  ul li{
    width: 100%;
}
.two-stylistic .apartments-text li p {
    max-width: 100%;
}
.two-stylistic-cnt{
    margin-top: 48px;
}

.two-stylistic-cnt .apartments-flex{
    margin-top: 48px;

}


.monolithic-const-min{
    margin-top: 112px;
    margin-bottom: 50px;
}
.monolithic-const-min h2{
    max-width: 944px;
    width: 100%;
}
.monolithic-const-flex{
    margin-top: 64px;
    gap: 24px;
}
.monolithic-const-photo{
    max-width: 808px;
    width: 100%;
}

.monolithic-const-photo img{
    border-radius: 36px;
}
.monolithic-const-text{
    max-width: 808px;
    width: 100%;
}
.monolithic-const-text ul{
    gap: 36px;
}
.monolithic-const-text ul li{
    gap: 30px;
    color: #1A1A1A;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.monolithic-const-text ul li .down-payment-circle{
    margin: 0;
}





.every-detail-min .apartments-box{
    width: calc(25% - 18px);
}
.apartments-detail{
    width: calc(25% - 18px);
    backdrop-filter: blur(20px);
    border-radius: 24px;
}
.apartments-detail img{
    border-radius: 24px;
    width: 100%;
}




@media (max-width: 1399px){
    .business-light-info {
        max-width: 600px;
    }
    .business-light-info h3 {
        font-size: 30px;
        max-width: 411px;
    }
    .quarter-located {
        padding-right: 0;
    }
    .quarter-located-flex {
        margin-top: 90px;
    }
    .monolithic-const-text ul li {
        gap: 16px;
        font-size: 16px;
        line-height: 20px;
    }
    .monolithic-const-text ul {
        gap: 20px;
    }
    .apartments-items {
        gap: 12px;
    }
    .every-detail-min .apartments-box {
        width: calc(25% - 9px);
    }
    .apartments-detail {
        width: calc(25% - 9px);
    }

}


@media (max-width: 1299px){
    .business-light-info h3 {
        font-size: 26px;
        max-width: 360px;
    }
    .business-light-min {
        margin-top: 72px;
        margin-bottom: 50px;
    }
    .monolithic-const-min {
        margin-top: 48px;
        margin-bottom: 46px;
    }
    .monolithic-const-flex {
        margin-top: 34px;
    }
    .monolithic-const-text ul {
        gap: 12px;
    }

    .every-detail-min .apartments-box {
        width: calc(33.333333% - 9px);
    }
    .apartments-detail {
        width: calc(33.333333% - 9px);
        height: 180px;
    }
}

@media (max-width: 1199px){
    .business-light-info {
        max-width: 430px;
    }
    .business-light-info h3 {
        font-size: 22px;
        max-width: 300px;
    }

    .located-pic {
        max-width: 290px;
    }
    .two-stylistic-cnt .apartments-flex {
        margin-top: 26px;
    }
    .monolithic-const-text ul li {
        font-size: 14px;
        line-height: 18px;
    }
    .quarter-located {
        max-width: 420px;
    }
    .quarter-located h3{
        font-size: 18px;
    }
}
@media (max-width: 1020px){
    .business-light-flex {
        flex-direction: column;
    }
    .business-light-info h3 {
        font-size: 18px;
        margin-top: 48px;
    }
    .quarter-located-flex {
        flex-direction: column;
    }
    .quarter-located {
        max-width: 100%;
    }
    .located-pic {
        max-width: 100%;
        margin-top: 16px;
    }
    .located-pic img {
        border-radius: 16px;
    }
    .quarter-located-photo img {
        border-radius: 16px;
    }
    .two-stylistic-cnt {
        margin-top: 0;
    }
    .monolithic-const-flex {
        margin-top: 32px;
        flex-direction: column-reverse;
    }
    .monolithic-const-photo img {
        border-radius: 16px;
    }
    .every-detail-min .apartments-box {
        width: calc(50% - 9px);
        height: 133px;
    }
    .apartments-detail {
        width: calc(50% - 9px);
        height: 133px;
    }
    .apartments-detail img {
        border-radius: 16px;
    }
    .business-light-photo{
        width: 100%;
    }
    .business-light-photo img{
        width: 100%;
        border-radius: 16px;
    }


}
@media (max-width: 575px){
    .every-detail-min .apartments-box {
        width: 100%;
    }
    .apartments-detail {
        width: 100%;

    }
}