footer{
    margin-top: 74px;
    background: #754ABC;

    padding: 29px 0 24px;
}

.footer-title h2{
    font-weight: 800;
    font-size: 48px;
    line-height: 90%;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'TT Travels';
    text-align: left;
    max-width: 410px;
    width: 100%;
}
.footer-contact{
    gap: 24px;
}
.footer-title .sales-office-time{
    margin-top: 60px;
}
.footer-office-center .header-phone {
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    margin-right: 0;
    color: #FFFFFF;
}

footer .head-menu-main {
    margin-top: 62px;
}

.footer-policy{
    margin-top: 58px;
}
.footer-policy a{
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.footer-policy a, .footer-policy p{
    color: #FFFFFFCC;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

}
.footer-policy a:hover{
    border-bottom: 1px solid #FFFFFF;

}
.compare-btn{
    display: none;
}
.office-time-mobile{
    display: none;
}


@media (max-width: 1199px){
    .footer-office-center .header-phone {
        font-size: 30px;
    }

    .footer-title h2 {
        font-size: 32px;
        max-width: 245px;
    }
    .footer-policy a, .footer-policy p {
        font-size: 14px;
    }


}
@media (max-width: 1020px){
    .footer-office-center .header-phone {
        font-size: 20px;
    }
    .footer-policy {
        margin-top: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }
    footer .head-menu-main {
        margin-top: 48px;
    }
    .footer-contact {
        gap: 12px;
    }
    .footer-title .sales-office-time{
        display: none;
    }
    .office-time-mobile{
        display: block;
        margin-top: 32px;
        max-width: 200px;
        width: 100%;
    }
   footer .btn-select {
        width: 100%;
    }
}

@media (max-width: 575px){
    .footer-title h2 {
        font-size: 26px;
        max-width: 184px;
    }
    .footer-office-center{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .footer-contact {
        align-items: flex-start;
        width: 100%;
    }
   footer .header-btn-white{
        flex-direction: column-reverse;
    }
    footer .btn-select {
        width: 100%;
    }
    footer  .btn-sign-up {
        width: 100%;
    }

}