header{
    width: 100%;
    z-index: 999;
    margin-top: 55px;
}


.header-main{
    width: 100%;
}
.open-menu{
    gap: 12px;
    cursor: pointer;
}
.open-menu strong{
    color: #1A1A1A;
    font-weight: 700;
    font-size: 24px;
    line-height: 90%;
    text-transform: uppercase;
    font-family: 'TT Travels';

}
.open-menu .icon-menu{
    width: 26px;
    height: 26px;
    content: url("../img/icons/menu.svg");
}
.header-btn{
    gap: 16px;
}
.header-phone{
    color: #754ABC;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: left;
    margin-right: 10px;
    white-space: nowrap;
    transition: 0.3s;
}
.btn-select{
    white-space: nowrap;
    transition: 0.3s;
    border: 1px solid #754ABC;
    border-radius: 32px;
    gap: 8px;
    padding: 12px 32px;
    background: unset;
    color: #754ABC;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}
.btn-select:hover{
    background: #754ABC;
    color: #fff;
}
.btn-sign-up{
    white-space: nowrap;
    transition: 0.3s;
    background: #754ABC;
    border-radius: 32px;
    gap: 8px;
    padding: 12px 32px;
    color: #FBF9ED;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    border: 1px solid #754ABC;
}
.btn-sign-up:hover{
    color: #754ABC;
    background: unset;
}

.close-menu{
    width: 34px;
    height: 34px;
    cursor: pointer;
}
.icon-close {
    content: url('../img/icons/close.svg');
    width: 100%;
    display: block;
}

.body_fix {
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transition: 0.3s;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,.6);

}




.menu-content {
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    transition: 0.5s;
    height: 0;
    overflow: hidden;
    background: #754ABC;


}
.transition-menu {
    height: 740px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}



.menu-content-main{
    padding: 88px 140px;
}
.menu-content-title h2{
    color: #FFFFFF;
    max-width: 420px;
    width: 100%;
    font-weight: 800;
    font-size: 48px;
    line-height: 90%;
    text-transform: uppercase;
}


.head-menu-main{
    margin-top: 75px;
    gap: 30px;
}
.header-menu ul{
    gap: 24px;
}
.header-menu a{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    transition: 0.3s;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}

.header-menu a:hover{
    border-bottom: 1px solid #FFFFFF;

}

.documents-column{
    gap: 24px;
}
.documents-column h3{
    color: #FFFFFF;
}
.documents-column h3 a{
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.documents-column h3 a:hover{
    border-bottom: 2px solid #FFFFFF;

}
.documents-name{
    gap: 6px;
}

.documents-box{
    gap: 6px;
}
.documents-box ul{
    gap: 6px;
}
.documents-box ul li a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}


.documents-box ul li a:hover{
    border-bottom: 1px solid #FFFFFF;

}
.sales-office-center{
    margin-top: 64px;
}
.sales-office-time{
    max-width: 290px;
    width: 100%;
}
.sales-office-time span{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}
.sales-office-time p{
    margin-top: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.header-btn-white{
    gap: 16px;
}
.header-btn-white .header-phone{
    color: #FFFFFF;
}
.header-btn-white .btn-select{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.header-btn-white .btn-select:hover{
    background: #FFFFFF;
    color: #1A1A1A;

}

.header-btn-white .btn-sign-up{
    background: #FFFFFF;
   color: #1A1A1A;
    border: 1px solid #FFFFFF;

}
.header-btn-white .btn-sign-up:hover{
    background: unset;
   color: #FFFFFF;
}
.card-favorite{
    display: flex;
    transition: 0.3s;
}
/*.card-favorite svg path {*/
/*    stroke: #754ABC;*/
/*    fill: #754ABC;*/
/*    transition: 0.3s;*/
/*}*/

@media (max-width: 1699px){
    header {
        margin-top: 30px;
    }

    .menu-content-main {
        padding: 68px 70px;
    }


}
@media (max-width: 1599px){
    .menu-content-main {
        padding: 61px 30px;
    }
    .close-menu {
        width: 26px;
        height: 26px;
    }
    .transition-menu {
        height: 654px;
    }
    .header-menu a {
        font-size: 20px;
    }
    .menu-content-title h2 {
        max-width: 360px;
        font-size: 40px;
    }



}

@media (max-width: 1199px){
    .header-menu a {
        font-size: 16px;
    }
    .header-menu ul {
        gap: 8px;
    }
    .documents-box ul li a {
        font-size: 12px;
    }

    .documents-column h3 {
        font-size: 16px;
    }
    .documents-name i{
        display: none;
    }
    .documents-column {
        gap: 8px;
    }

    .btn-sign-up {
        padding: 10px 26px;
        font-size: 16px;
    }
    .btn-select {
        padding: 10px 26px;
        font-size: 16px;
    }
    .menu-content-title{
        align-items: start;
    }
    .menu-content-main {
        padding: 50px 20px;
    }
    .header-phone {
        font-size: 16px;
    }
}
@media (max-width: 1020px){
    .open-menu strong {
        font-size: 16px;
    }
    .open-menu .icon-menu {
        width: 24px;
        height: 24px;
    }
    .open-menu strong {
        padding-top: 4px;
    }
    .header-main  .header-phone{
        display: none;
    }
    header {
        margin-top: 20px;
    }
    .close-menu {
        width: 22px;
        height: 22px;
    }
    .menu-content-main {
        padding: 20px 10px;
    }
    .menu-content-title h2 {
        max-width: 234px;
        font-size: 33px;
    }
    .head-menu-main {
        margin-top: 64px;
        gap: 32px 16px;
        flex-wrap: wrap;
    }
    .header-menu{
        width: 48%;
    }
    .documents-column{
        width: 48%;

    }
    .sales-office-center {
        margin-top: 64px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .transition-menu {
        height: 100%;
    }
    .header-btn-white {
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .header-phone {
        font-size: 20px;
    }
    header .btn-select {
        order: 2;
        max-width: 380px;
        width: 100%;
    }
    header .btn-sign-up{
        order: 3;
        max-width: 380px;
        width: 100%;
    }
    .sales-office-time span {
        font-size: 16px;
    }
    .sales-office-time p {
        margin-top: 8px;
        font-size: 12px;
    }



}
@media (max-width: 767px){
    .header-btn .btn-sign-up{
        display: none;
    }
    .header-btn {
        gap: 20px;
        flex-direction: row-reverse;
    }
}
@media (max-width: 575px){
    .documents-column {
        width: 47%;
    }
    .header-menu {
        width: 47%;
    }
    .close-menu {
        width: 16px;
        height: 16px;
    }
    .btn-select {
        font-size: 14px;
    }
    .btn-select {
        padding: 10px 20px;
    }
}
@media (max-width: 370px){
    .header-menu a {
        font-size: 14px;
    }
    .documents-column h3 {
        font-size: 14px;
    }


}